.notes-trash-listss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 97%;
  }
  .notes-trash-scard {
    display: flex;
    justify-content: flex-start;
    width: 73%;
    
  }
  .res-sbutton {
    display: flex;
    justify-content: flex-end;
  }
  .empty-divs {
    display: flex;
    justify-content: center;
    margin-top: 20%;
  }
 